html, body {
  height: 100%;
  margin: 0,
  padding: 0,
}
body {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: normal;
}
.content {
  flex: 1;
  text-align: center;
}

img {
  margin-bottom: 20px;
}
a, a:visited {
  display: block;
  color: #aaa;
  text-decoration: none
}
.moji {
  font-size: 80px;
}
