<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Structure Solutions</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
